<!DOCTYPE html>
<html>
<head>
  <title>Timiad</title>
  <%= stylesheet_link_tag    'application.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand"><%= link_to "Timiad", root_path %></div>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
            
		<% if user_signed_in? %>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "New Invite", new_invite_path %></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
         </ul>
        <% else %>
         <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
        </ul>
        <% end %>

    </div>
</div>
</nav>

<div class="container">
<%= notice %>
</div>

<%= yield %>

<footer>
<div class="container">
<h5>All rights reserved</h5>
</div>
</footer>

</body>
</html>
